<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Criar novo Usuário', ~{})}">

<main>
    <form action="#" method="post" th:action="@{/usuario/store}" th:object="${usuario}">

        <label for="nome-input">Nome</label>
        <input type="text" name="nome" id="nome-input">
        <br>
        <label for="latitude-input">Latitude</label>
        <input type="text" name="latitude" id="latitude-input">
        <br>
        <label for="longitude-input">Longitude</label>
        <input type="text" name="longitude" id="longitude-input">
        <br>
        <button type="submit">Salvar</button>
    </form>
</main>

</html>