<!DOCTYPE html>
<html th:include="~{template :: layout (~{:: mainU}, 'Usuarios', ~{:: script})}">

<mainU>
    <h1>Usuários</h1>
    <a th:href="@{/usuario/create}">Novo Usuário</a>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.latitude}"></td>
                <td th:text="${usuario.longitude}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/usuario/{id}/show(id=${usuario.id})}">Visualizar</a>

                    <a class="btn btn-primary" th:href="@{/usuario/{id}/edit(id=${usuario.id})}">Editar</a>

                    <a class="btn btn-primary" th:attr="data-entity-id=${usuario.id}" data-bs-toggle="modal"
                        data-bs-target="#confirmActionModal">
                        Excluir
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="confirmActionModal" tabindex="-1" aria-labelledby="confirmActionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmActionModalLabel">Confirmação de ação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="confirmActionForm" th:method="delete" th:action="@{#}">
                    <div class="modal-body">
                        <p>Você deseja tem certeza que deseja excluir este item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-primary">Sim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mainU>

<script>
    $(() => {
        $('a[data-bs-target="#confirmActionModal"]').on("click", function () {
            const id = $(this).attr("data-entity-id");
            const action_uri = `/usuario/${id}/delete`;
            $("#confirmActionForm").attr("action", action_uri);
        });
    });
</script>

</html>