<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Informação de Posto de Combustível</h1>

    <h1 th:text="${error}? ${error} : ''"></h1>

    <div th:if="${posto} != null">
        <ul>
            <li th:text="${posto.id}"></li>
            <li th:text="${posto.nome}"></li>
            <li th:text="${posto.latitude}"></li>
            <li th:text="${posto.longitude}"></li>
            <li th:text="${posto.distancia}"></li>
        </ul>
    </div>
</body>

</html>