<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Detalhe do Posto', ~{})}">

<main>
    <h1>Informação de Posto de Combustível</h1>

    <!-- <h1 th:text="${error}? ${error} : ''"></h1> -->

    <div th:if="${posto} != null">
        <ul>
            <li th:text="${posto.id}"></li>
            <li th:text="${posto.nome}"></li>
            <li th:text="${posto.latitude}"></li>
            <li th:text="${posto.longitude}"></li>
            <li th:text="${posto.distancia}"></li>
        </ul>
    </div>

    <!-- <h5>Combustiveis</h5>
    <div class="row">
        <form th:action="@{/posto/{id}/adicionarcombustivel(id=${posto.id})}" th:object="${postocombustivel}" method="post" class="col s12">
            <div class="row">
                

                <div class="input-field col s4">
                    <label>Combustivel</label>
                    <select th:field="${postocombustivel.combustivel}">
                        <option th:each="combus : ${listacombustivel}"
                                    th:value="${combus.id}"
                                    th:text="${combus.nome}">

                        </option>

                    </select>
                </div> 

                
                <div class="input-field col s4">
                    <label class="active" for="preco">Preço</label>
                    <input id="preco" name="preco">
                </div>

                <button type="submit" class="btn btn-primary col s2">Adicionar</button>

            </div>
        </form>

    </div>
    <table>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Combustível</th>
                <th>Preço</th>
            </thead>
            <tbody>
                <tr th:each="combus : ${combustiveis}">
                    <td th:text="${combus.id}"></td>
                    <td th:text="${combus.combustivel.nome}"></td>
                    <td th:text="${combus.preco}"></td>
                </tr>
            </tbody>
        </table>        


    </table> -->


</main>

</html>