<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Detalhe do Posto', ~{})}">

<main>
    <h1>Informação de Posto de Combustível</h1>

    <h1 th:text="${error}? ${error} : ''"></h1>

    <div th:if="${posto} != null">
        <ul>
            <li th:text="${posto.id}"></li>
            <li th:text="${posto.nome}"></li>
            <li th:text="${posto.latitude}"></li>
            <li th:text="${posto.longitude}"></li>
            <li th:text="${posto.distancia}"></li>
        </ul>
    </div>
</main>

</html>