<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MapBox.js -->
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script> -->
    <!-- MapBox.css -->
    <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' /> -->

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />


    <!-- JQuery -->
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap.js -->
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- Bootstrap.css -->
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" />

    <style>
        :root {
            --cor-primaria: #F20519;
            --cor-secundaria: #385773;
            --cor-terciaria: #F29F05;
            --cor-quaternaria: #0D0D0D;
        }
    </style>

    <title>Index</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--cor-terciaria);">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: var(--cor-quaternaria);">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posto/index" style="color: var(--cor-quaternaria);">Posto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/index" style="color: var(--cor-quaternaria);">Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/combustivel/index" style="color: var(--cor-quaternaria);">Combustível</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preco/index" style="color: var(--cor-quaternaria);">Preço</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="d-flex justify-content-center p-3">
            <div id='map' style='width: 800px; height: 600px;'></div>
        </div>
        <pre id="info"></pre>
    </main>

    <script>

        
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVsaWJlcmF0byIsImEiOiJjbGdjaDVjbTkwYWliM2VzOWJ6d3d1bm1wIn0.tC0xAy1fcBI9XQS8RimVMg';
        navigator.geolocation.getCurrentPosition(success, error);
        function success(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        const map = new mapboxgl.Map({
            
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            //center: [-35.203842292018294, -5.832517075302604], // starting position [lng, lat]
            center: [longitude, latitude], // starting position [lng, lat]
            zoom: 1, // starting zoom
            attributionControl: false,
            hash: true,
            language: 'pt'
        });

        map.addControl(new mapboxgl.AttributionControl({
            customAttribution: 'PostoCerto'
        }));

        let geolocate = new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
            showUserHeading: true
        });

        map.addControl(geolocate);

        map.on('load', () => {
            geolocate.trigger();
        });

        geolocate.on('geolocate', (e) => {
            console.log(e.coords);
            //obterCoordenadas(e.coords.latitude, e.coords.longitude)
        });

        const marker = new mapboxgl.Marker()
            

        map.on('click', (e) => {
            document.getElementById('info').innerHTML =
                // `e.point` is the x, y coordinates of the `mousemove` event
                // relative to the top-left corner of the map.
                JSON.stringify(e.point) +
                '<br />' +
                // `e.lngLat` is the longitude, latitude geographical position of the event.
                JSON.stringify(e.lngLat.wrap());
        });
        
        var directions = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            unit: 'metric',
            language: 'pt-br'
        });        
        map.addControl(directions, 'top-left');
        
        fetch('/mapa/postos')
            .then(response => {
                if (response.ok) {
                    return response.json(); // transforma a resposta em JSON
                } else {
                    throw new Error('Erro ao buscar postos: ' + response.status + ' ' + response.statusText);
                }
            })
            .then(data => {
                // lista de postos retornada pela função
               
                
              //  var destination = [0,0];
                data.map((posto) => {
                    const lat = Number(posto.latitude)
                    const lng = Number(posto.longitude)
                    destination = [Number(posto.longitude), Number(posto.latitude)];
                    
                    const marker = new mapboxgl.Marker({
                        color: '#F42330',
                        
                    })
                    .setLngLat([lng, lat])
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML(
                            `<h4>${posto.nome}</h4><p>${posto.latitude}</p>`
                        )
                    )
                    .addTo(map);
                    
                   // tracarrota(map, [longitude,latitude], destination, posto.nome);

                    
                });

               
            })
            .catch(error => {
                console.log(error);
            });
        }
        
        function error()
        {
            console.log('Erro ao obter a localização do usuário.');
        }

        function tracarrota(map, origem, destination, nome)
        {
            var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' +
                          origem[0] + ',' + origem[1] + ';' +
                          destination[0] + ',' + destination[1] +
                          '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var route = data.routes[0];
                        var routeCoordinates = route.geometry.coordinates;

                        // Adicionar a rota no mapa
                        map.addLayer({
                            'id': 'Posto ' + nome,
                            'type': 'line',
                            'source': {
                                'type': 'geojson',
                                'data': {
                                    'type': 'Feature',
                                    'properties': {},
                                    'geometry': {
                                        'type': 'LineString',
                                        'coordinates': routeCoordinates
                                    }
                                }
                            },
                            'layout': {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            'paint': {
                                'line-color': '#888',
                                'line-width': 6
                            }
                        });
                    }).catch(error => console.log(error));

        }
    </script>
</body>

</html>