<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />

    <title>Index</title>
</head>

<body>
    <header>
        <h1>PostoCerto</h1>
    </header>
    <ul>
        <li><a href="/posto/index">Postos</a></li>
    </ul>

    <div id='map' style='width: 800px; height: 600px;'></div>
    <pre id="info"></pre>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVsaWJlcmF0byIsImEiOiJjbGdjaDVjbTkwYWliM2VzOWJ6d3d1bm1wIn0.tC0xAy1fcBI9XQS8RimVMg';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [-35.203842292018294, -5.832517075302604], // starting position [lng, lat]
            zoom: 1, // starting zoom
            attributionControl: false,
            hash: true,
        });

        map.addControl(new mapboxgl.AttributionControl({
            customAttribution: 'PostoCerto'
        }));

        let geolocate = new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
            showUserHeading: true
        });

        map.addControl(geolocate);

        map.on('load', () => {
            geolocate.trigger();
        });

        geolocate.on('geolocate', (e) => {
            console.log(e.coords);
        });

        const marker = new mapboxgl.Marker()
            .setLngLat([-35.21150448207374, -5.838191694648373])
            .addTo(map);

        map.on('click', (e) => {
            document.getElementById('info').innerHTML =
                // `e.point` is the x, y coordinates of the `mousemove` event
                // relative to the top-left corner of the map.
                JSON.stringify(e.point) +
                '<br />' +
                // `e.lngLat` is the longitude, latitude geographical position of the event.
                JSON.stringify(e.lngLat.wrap());
        });
    </script>
</body>

</html>